In [1]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
from bson import json_util
import pandas as pd 
import json


uri = "mongodb+srv://leonardozalazar89:aRvshiL8K4VlFcJx@cluster0.j1wew99.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

In [2]:
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [3]:
database = client["tienda"]
colProductos = database['productos']
docProductos = colProductos.find()

nombres = []
marcas = []

for producto in docProductos:
    print(str(producto))
    nombres.append(producto['nombre'])
    marcas.append(producto['marca'])

{'_id': ObjectId('666363a3f9a9e039a0a93f77'), 'nombre': 'Laptop', 'marca': 'Dell', 'precio': 1200, 'stock': 60}
{'_id': ObjectId('666363bdf9a9e039a0a93f78'), 'nombre': 'Mouse', 'marca': 'Logitech', 'precio': 30, 'stock': 210}
{'_id': ObjectId('66636641f9a9e039a0a93f7b'), 'nombre': 'Tablet', 'marca': 'Apple', 'precio': 500, 'stock': 25}

In [4]:
dic = {}

dic["nombre"] = nombres
dic["marca"] = marcas


dic

{'nombre': ['Laptop', 'Mouse', 'Tablet'],
 'marca': ['Dell', 'Logitech', 'Apple']}

In [5]:
df=pd.DataFrame(dic)
df

   nombre     marca
0  Laptop      Dell
1   Mouse  Logitech
2  Tablet     Apple

In [55]:
#obtener los documentos
docProductos = colProductos.find()

#convertir los documentos de bson a json
json_docs = [json_util.dumps(doc) for doc in docProductos]

#crear el diccionario de los archivos json
python_dicts = [json.loads(doc) for doc in json_docs]

for dic in python_dicts:
    print(json.dumps(dic, indent=4))

df = pd.DataFrame(python_dicts)
df = df.drop(columns=['_id'])
df

{
    "_id": {
        "$oid": "666363a3f9a9e039a0a93f77"
    },
    "nombre": "Laptop",
    "marca": "Dell",
    "precio": 1200,
    "stock": 60
}
{
    "_id": {
        "$oid": "666363bdf9a9e039a0a93f78"
    },
    "nombre": "Mouse",
    "marca": "Logitech",
    "precio": 30,
    "stock": 210
}
{
    "_id": {
        "$oid": "66636641f9a9e039a0a93f7b"
    },
    "nombre": "Tablet",
    "marca": "Apple",
    "precio": 500,
    "stock": 25
}

   nombre     marca  precio  stock
0  Laptop      Dell    1200     60
1   Mouse  Logitech      30    210
2  Tablet     Apple     500     25

In [61]:
docProductos = colProductos.find()
json_docs = [json_util.dumps(doc) for doc in docProductos]
python_dicts = [json.loads(doc) for doc in json_docs]


df = pd.DataFrame(python_dicts)
df = df.drop(columns=['_id'])
precios = df["precio"]
precios.head()

prod_prec = df[["precio","nombre"]]
prod_prec.head()

prec2 = df[df["precio"] > 40]
prec2.head()

   nombre  marca  precio  stock
0  Laptop   Dell    1200     60
2  Tablet  Apple     500     25